@font-face {
    font-family: Segoe;
    src: url(/fonts/SegoeWPLight.ttf);
}

body {
    background-image: url(../img/background.jpg);
    width: 600px;
    height: 900px;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    z-index: 1;
}
ul{
    list-style: none;
}
header,.topMenu,.elements,.product{
    display: flex;
    flex-flow: row wrap;
    Justify-content: space-between;
    flex: 1;
}
footer{
    display: flex;
    justify-content: center;
}


/*
.topMenu{
    display: flex;
    flex-direction: row;
}
.elements{
    display: flex;
    flex-direction: row;
}
.product{
    display: flex;
    flex-direction: row;
}*/